body{
	margin: 0;
}
/*section{
	margin: 0px auto;
	float: none;
	display: table;
}*/
span{
	color: #e6e7e8;
}
main{
}
#result{
	margin-top: 0px;
}
#output{
	color: #ED458B;
	font-size: 9rem;
	margin: 0 auto;

}
/*section{
	display: table;
	border: 1px solid blue;
	margin: 0 auto;
}*/
header h1{
	 background-color: #404041;
	 margin-top: 0;
	 height: 2em;
	 text-align: center;
	 color: #ED458B;
	 padding-top: 1em;
}
.buttons{
	background-color: #929497;
	height: 3.5em;
	width: 15em;
	border-radius: 3em;
}
.buttons:hover{
	background-color: #eb008b
}
#userGuess{
	height: 3em;
	width: 30em;
	margin-bottom: 3em;
	margin-top: 2em;
}
#resetButton{
	width: 32em;
	height: 3em;
	margin-bottom: 2em;
}
#submitButton{
	margin-right: 2em;
}